**/.DS_Store
*/.idea/*
.vscode/**

**/*.pyc
**/__pycache__/
.mypy_cache/
.pytest_cache/

build/
docs/build
dist/
tmp/
**/*.pb
data/
*.egg-info
*.so
*.gz
.cache
**/.ipynb_checkpoints/

bazel-bin
bazel-genfiles
bazel-operations
bazel-out
bazel-testlogs

operations/ntl/deps

.bazelrc
