asn1crypto==0.24.0
astor==0.7.1
certifi==2018.8.13
cffi==1.11.5
colorama==0.3.7
flake8==3.6.0
Flask==1.0.2
Flask-Cors==3.0.6
gast==0.2.0
idna==2.7
jmespath==0.9.3
jwt==0.5.4
Markdown==2.6.11
mypy==0.620
numpy==1.14.5
protobuf==3.6.1
pyasn1==0.4.2
pycparser==2.18
requests==2.20.0
s3transfer==0.1.13
six==1.11.0
tensorboard==1.9.0
tensorflow==1.9.0
termcolor==1.1.0
typed-ast==1.1.0
urllib3==1.23
Werkzeug==0.14.1
sphinx-rtd-theme==0.4.2
recommonmark==0.4.0
