version: 2

variables:
  docker-caching: &docker-caching
    setup_remote_docker:
      docker_layer_caching: true
  bootstrap: &bootstrap
    run:
      name: Bootstrap the environment
      command: |
        python3 -m venv venv
        . venv/bin/activate
        make bootstrap
  docker-login: &docker-login
    run:
      name: Login to Docker
      command: make docker-login
  build-release: &build-release
    run:
      name: Build and push release artifacts (e.g. docker containers)
      command: RELEASE_CONFIRM=yes make push
  restore-cache: &restore-cache
    restore_cache:
      keys:
        - v1-dependencies-{{ checksum "requirements.txt" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-
  save-cache: &save-cache
    save_cache:
      paths:
        - ./venv
      key: v1-dependencies-{{ checksum "requirements.txt" }}

jobs:
  build:
    docker:
      - image: circleci/python:3.5
    working_directory: ~/repo
    steps:
      - *docker-caching
      - checkout
      - *restore-cache
      - *bootstrap
      - *save-cache
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            make test
      - run:
          name: build docker container
          command: make docker
          
  deploy:
    docker:
      - image: circleci/python:3.5
    working_directory: ~/repo
    steps:
      - *docker-caching
      - checkout
      - *restore-cache
      - *bootstrap
      - *docker-login
      - *build-release

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              # In order for the 'deploy' job to run, we must first kick off
              # the build job on all tags. By default, Circle CI only kicks off
              # builds on tags if a filter is defined.
              only: /^(?:[0-9]+)\.(?:[0-9]+)\.(?:[0-9]+)(?:(\-rc\.[0-9]+)?)$/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
            tags:
              only: /^(?:[0-9]+)\.(?:[0-9]+)\.(?:[0-9]+)(?:(\-rc\.[0-9]+)?)$/
