version: 2

variables:
  docker-caching: &docker-caching
    setup_remote_docker:
      docker_layer_caching: true
  bootstrap: &bootstrap
    run:
      name: Bootstrap the environment
      command: |
        python3 -m venv venv
        . venv/bin/activate
        make bootstrap
  docker-login: &docker-login
    run:
      name: Login to Docker
      command: make docker-login
  build-release: &build-release
    run:
      name: Build and push release artifacts (e.g. docker containers)
      command: RELEASE_CONFIRM=yes make push
  restore-cache: &restore-cache
    restore_cache:
      keys:
        - v3-dependencies-{{ checksum "requirements.txt" }}
        # fallback to using the latest cache if no exact match is found
        - v3-dependencies-
  save-cache: &save-cache
    save_cache:
      paths:
        - ./venv
      key: v3-dependencies-{{ checksum "requirements.txt" }}
  restore-cache-mac: &restore-cache-mac
    restore_cache:
      keys:
        - v3-mac-dependencies-{{ checksum "requirements.txt" }}
        - v3-mac-dependencies-
  save-cache-mac: &save-cache-mac
    save_cache:
      paths:
        - ./venv
        - ../miniconda3
        - ./Miniconda3-latest-MacOSX-x86_64.sh
      key: v3-mac-dependencies-{{ checksum "requirements.txt" }}

jobs:
  build:
    docker:
      - image: circleci/python:3.5
    working_directory: ~/repo
    steps:
      - *docker-caching
      - checkout
      - *restore-cache
      - *bootstrap
      - *save-cache
      - run:
          name: run tests and build the docs
          command: |
            . venv/bin/activate
            make test
            make docs
      - run:
          name: build docker container
          command: make docker

  deploy:
    docker:
      - image: circleci/python:3.5
    working_directory: ~/repo
    steps:
      - *docker-caching
      - checkout
      - *restore-cache
      - *bootstrap
      - *docker-login
      - *build-release

  deploy-macos:
    macos:
        xcode: "10.0.0"
    working_directory: ~/repo
    steps:
      - checkout
      - *restore-cache-mac
      - run:
          name: bootstrap setup
          command: |
            if [ ! -f Miniconda3-latest-MacOSX-x86_64.sh ]; then
              curl -O https://repo.continuum.io/miniconda/Miniconda3-latest-MacOSX-x86_64.sh
            fi

            bash Miniconda3-latest-MacOSX-x86_64.sh -b -f
            ../miniconda3/bin/conda create -n py35 python=3.5 2> /dev/null || true
            ../miniconda3/envs/py35/bin/python -m venv venv
            . venv/bin/activate

            brew install libtool automake

            make bootstrap
      - run:
          name: release
          command: |
            . venv/bin/activate
            RELEASE_CONFIRM=yes PYPI_PLATFORM=macosx_10_11_x86_64 make pypi-push
      - *save-cache-mac

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              # In order for the 'deploy' job to run, we must first kick off
              # the build job on all tags. By default, Circle CI only kicks off
              # builds on tags if a filter is defined.
              only: /^(?:[0-9]+)\.(?:[0-9]+)\.(?:[0-9]+)(?:(\-rc[0-9]+)?)$/
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
            tags:
              only: /^(?:[0-9]+)\.(?:[0-9]+)\.(?:[0-9]+)(?:(\-rc[0-9]+)?)$/
      - deploy-macos:
          requires:
            - build
            - deploy
          filters:
            branches:
              only: master
            tags:
              only: /^(?:[0-9]+)\.(?:[0-9]+)\.(?:[0-9]+)(?:(\-rc[0-9]+)?)$/
